body {
  margin-left: 200px;
  background-color: gainsboro;
  color: black;
}
div.firstP p{
  background-color:  whitesmoke;
}
div.secondP p{
  background-color: thistle;
}
div.thirdP p{
  background-color: seashell;
}
ul.navbar {
  position: absolute;
  top: 30px;
  left: 9px;
  width: 130px;
  list-style-type: none;
}
h1 {
  color: #17252a;
  font-style: italic;

}
ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
}

ul.navbar a {
  text-decoration: none;
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
